<div class="flex justify-end pt-4 pb-2 px-4">
    <mat-icon class="text-slate-800 hover:text-red-800" (click)="closeModal()">
        close
    </mat-icon>
</div>
<div class="pb-8 px-8">
    <p class="text-2xl">Asignar Seguros a Asegurados</p>
    <hr>

    <div class="grid grid-cols-2 mt-6 gap-6">
        <div class="col-span-2 md:col-span-1 lg:col-span-1">
            <label for="insured" class="block">Asegurado</label>
            <div class="flex items-center">
                <input type="text" readonly class="w-fit p-2 border-2 rounded-lg mr-2" [(ngModel)]="insuredSelectedName">
                <button class="p-2 bg-cyan-900 text-center rounded-lg text-white" (click)="openInsuredList()">Seleccionar Asegurado</button>
            </div>
        </div>
        <div class="col-span-2 md:col-span-1 lg:col-span-1">
            <label for="insurance" class="block">Seguro</label>
            <select name="insurance" id="insurance" class="p-2 border-2 rounded-lg w-full" [(ngModel)]="insuranceSelectedCode">
                <option value="">--Selecciona un seguro--</option>
                @for(insurances of insurancesList; track insurances){
                    <option [value]="insurances.insuranceCode">{{insurances.insuranceName}}</option>
                }
            </select>
        </div>
    </div>
    <div class="mt-8 flex justify-end">
        @if(verifyEmptyFormValues()){
            <button class="p-2 bg-cyan-900 text-white rounded-lg flex items-center justify-center mr-2" (click)="saveInsuranceAssignment()">
                <mat-icon>
                    save
                </mat-icon>
                Guardar
            </button>
        }
        <button class="p-2 bg-slate-800 text-white rounded-lg" type="button" (click)="closeModal()">
            Cancelar
        </button>
    </div>
</div>