<div class="relative py-4">
    <mat-icon class="absolute right-0 mr-4 hover:text-red-800" (click)="closeForm()">
        close
    </mat-icon>
</div>
<div class="px-8">
    <p class="text-2xl">{{typeForm}} Seguro</p>
    <hr>
    <form [formGroup]="insuranceForm" class="grid grid-cols-2 gap-4 mt-5" (ngSubmit)="onSubmit()">
        @if(typeForm === 'Editar'){
            <div class="col-span-2 md:col-span-1 lg:col-span-1">
                <label for="insuranceCode" class="block">Código seguro</label>
                <input type="text" formControlName="insuranceCode" placeholder="insu4" class="border-2 px-2 py-2 w-full rounded-lg" readonly>
            </div>
        }
        <div class="col-span-2 md:col-span-1 lg:col-span-1">
            <label for="insuranceName" class="block">Nombre seguro</label>
            <input type="text" formControlName="insuranceName" placeholder="Seguro Premium" class="border-2 px-2 py-2 w-full rounded-lg">
            @if(verifyFormErrors('insuranceName')){
                <span class="text-red-500 text-xs">{{showFormAlertMessage('insuranceName')}}</span>
            }
        </div>
        <div class="col-span-2 md:col-span-1 lg:col-span-1">
            <label for="sumInsured" class="block">Suma asegurada</label>
            <input type="text" formControlName="sumInsured" placeholder="1000" class="border-2 px-2 py-2 w-full rounded-lg">
            @if(verifyFormErrors('sumInsured')){
                <span class="text-red-500 text-xs">{{showFormAlertMessage('sumInsured')}}</span>
            }
        </div>
        <div class="col-span-2 md:col-span-1 lg:col-span-1">
            <label for="insuranceCost" class="block">Prima</label>
            <input type="text" formControlName="insuranceCost" placeholder="300" class="border-2 px-2 py-2 w-full rounded-lg">
            @if(verifyFormErrors('insuranceCost')){
                <span class="text-red-500 text-xs">{{showFormAlertMessage('insuranceCost')}}</span>
            }
        </div>

        <div class="relative col-span-2">
            <div class="absolute right-0 flex">
                @if(insuranceForm.valid){
                    <button class="bg-cyan-900 text-white flex items-center justify-center px-4 py-2 my-4 w-fit rounded-lg mr-2" type="submit">
                        <mat-icon class="mr-2">
                            save
                        </mat-icon>
                        <span>
                            Guardar
                        </span>
                    </button>
                }
                <button class="bg-slate-800 text-white flex items-center justify-center px-4 py-2 my-4 w-fit rounded-lg" type="button" (click)="closeForm()">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
</div>
