@if(insuredInsuranceFilteredList.length){
    <div class="overflow-x-auto max-w-full">
        <table class="w-full text-center table-auto">
            <thead>
                <tr class="bg-cyan-900 text-white">
                    <td class="py-2">Id</td>
                    <td>Cédula</td>
                    <td>Nombre del Asegurado</td>
                    <td>Teléfono</td>
                    <td>Edad</td>
                    <td>Código Seguro</td>
                    <td>Nombre del seguro</td>
                    <td>Suma asegurada</td>
                    <td>Prima de seguros</td>
                </tr>
            </thead>
            <tbody>
                @for(register of insuredInsuranceFilteredList; track register){
                    <tr class="border-b-2">
                        <td class="py-4">{{register.id}}</td>
                        <td>{{register.insuredId}}</td>
                        <td>{{register.insuredName}}</td>
                        <td>{{register.phone}}</td>
                        <td>{{register.age}}</td>
                        <td>{{register.insuranceCode}}</td>
                        <td>{{register.insuranceName}}</td>
                        <td>{{register.sumInsured | currency}}</td>
                        <td>{{register.insuranceCost | currency}}</td>
                    </tr>
                }
            </tbody>
        </table>
        @if(totalPages >=1){
            <div class="text-right bg-slate-50 py-2 border-t-2 border-cyan-900 px-2 flex justify-end items-center w-full">
                @if(currentPage > 1){
            
                    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="pr-4 flex items-center">
                        <mat-icon>
                            chevron_left
                        </mat-icon>
                    </button>
                }
                    <span>Página </span>
                        <input  type="number" 
                                [(ngModel)]="currentPage" 
                                (change)="changePage(currentPage)"
                                [min]="1"
                                [max]="totalPages" 
                                class="rounded-lg border-2 size-8 text-center"
                        />
                    <span> de {{totalPages}}</span>
                    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="pl-4 flex items-center">
                        <mat-icon>
                            chevron_right
                        </mat-icon>
                    </button>
            </div>
        }
    </div>
}