<div class="example-container" [class.example-is-mobile]="isMobile()">
    <div class="bg-cyan-900 text-white flex items-center py-2 pl-2">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <span class="text-2xl">Seguros VIR</span>
    </div>

    <mat-sidenav-container class="h-screen"
                          [style.marginTop.px]="isMobile() ? 56 : 0">
      <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'over'"
                  [fixedInViewport]="isMobile()" fixedTopGap="56">
        <mat-nav-list class="bg-cyan-800 h-full">
         <app-menu></app-menu>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="h-full px-4 pt-4 pb-2 md:px-8 md:pt-6 md:pb-4 lg:px-8 lg:pt-6 lg:pb-4">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
