<div class="p-2">
    <div class="flex items-center">
        <span class="text-3xl mr-2">Seguros</span>
        <span class="flex items-center justify-center px-4 py-2 bg-cyan-900 text-white w-fit rounded-lg" (click)="addInsurance()">
            <mat-icon>
                add
            </mat-icon>
            Agregar
        </span>
    </div>
    <div class="pt-8">
        <app-mass-loading-insurances></app-mass-loading-insurances>
    </div>
    <div class="my-8">
        <app-insurances-table></app-insurances-table>
    </div>
</div>
